.btn {
  --bs-btn-border-radius: var(--bs-border-radius-lg) !important;

  &.btn-link {
    text-decoration: none;
  }
}

.form-label {
  font-weight: 600;
  font-size: .875em;
}

.tooltip {
  font-weight: 600;
}

.dropdown-menu {
  box-shadow: var(--bs-dropdown-box-shadow);
  --bs-dropdown-border-radius: var(--bs-border-radius-lg) !important;
}

@media(max-width: 575.98px) {
  // .dropdown-menu {
  //   --width: calc(100vw - 8px);
  //   min-width: var(--width) !important;
  //   max-width: var(--width) !important;
  //   width: var(--width) !important;
  // }
}

// reduce su sombra natural
.form-control:focus {
  box-shadow: 0 0 0 0.12rem rgba(13, 110, 253, 0.25) !important;
}

.list-group-item,
.dropdown-item {
  --bs-list-group-item-padding-y: 0.25rem;
  height: 34px; // su natural es 32, con 34 el texto luce más centrado

  // evita flash azul al pinchar
  &.active,
  &:active {
    color: inherit !important;
    background-color: var(--bs-dropdown-btn-active-bg) !important;
  }

  // iconos svg de bootstrap
  >svg {
    width: 1rem;
    height: 1rem;
    margin-right: 12px;
    position: relative;
    top: -2px; // lo centra vertical
  }
}

.spinner-border {
  --bs-spinner-border-width: 2px !important;
  border: var(--bs-spinner-border-width) solid var(--bs-gray-300) !important;
  border-right-color: var(--bs-gray-600) !important;
}

.modal-footer {
  justify-content: flex-start !important;
  // border-top: unset !important;
}

.modal-header {
  // border-bottom: unset !important;
}