.btn {
  --bs-btn-border-radius: var(--bs-border-radius-lg) !important;
}

.form-label {
  font-weight: 600;
  font-size: .875em;
}

.btn-close {
  background-size: .9rem;
}

.tooltip {
  font-weight: 600;
}

[readonly] {
  cursor: default;
}

// 


.dropdown-menu {
  box-shadow: var(--bs-dropdown-box-shadow);
}

@media(max-width: 575.98px) {
  // .dropdown-menu {
  //   --width: calc(100vw - 8px);
  //   min-width: var(--width) !important;
  //   max-width: var(--width) !important;
  //   width: var(--width) !important;
  // }
}

// badge-outline-white
.badge {
  outline: 1px solid white;
  outline-offset: 0;
}

.form-control:focus {
  box-shadow: 0 0 0 0.12rem rgba(13, 110, 253, 0.25) !important;
}

/* BootstrapVueNext */
.dropdown-item {
  height: 34px;
  display: flex !important;
  gap: 12px;

  &.active,
  &:active {
    color: inherit !important;
    background-color: var(--bs-dropdown-btn-active-bg) !important;
  }

  .highlighted>&,
  .allow-highlight>&.router-link-exact-active,
  .allow-highlight-in-route>&.router-link-active {
    font-weight: 600;
    background-color: #d3e3fd !important;
  }

  >svg {
    position: relative;
    top: 3px;
  }

}

// .highlighted>.dropdown-item {
//   font-weight: 600;
//   background-color: #d3e3fd !important;
// }

.spinner-border {
  // --bs-spinner-border-width: 0.25em;
  // border: var(--bs-spinner-border-width) solid currentcolor;
  // border-right-color: transparent;
  --bs-spinner-border-width: 2px !important;
  border: var(--bs-spinner-border-width) solid var(--bs-gray-300) !important;
  border-right-color: var(--bs-gray-600) !important;
}

// Custom classes
.label-value {
  margin-bottom: 16px;

  >label {
    color: var(--bs-gray-600);
    font-size: .875em;
  }

  >div {
    padding: 2px 0;
  }
}